@charset "UTF-8";
:root{
    --text: #141906;
    --background: #f8fcf3;
    --primary: #a2d232;
    --secondary: #8ae5cd;
    --accent: #5cc2db;
}
:root[data-theme="dark"] {
    --text: #f4f9e6;
    --background: #080c03;
    --primary: #9dcd2d;
    --secondary: #1a755d;
    --accent: #248aa3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* overflow-x: hidden; */

}
body{
    
    display: grid;
    grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: header;
    border: solid 2px black;
    font-size: 30px;
    
}
main{
    grid-area: main;
    border: solid 2px rgb(209, 29, 29);
    padding: 150px;
}
section{
    /* height: 100vh; */
    margin-top: 200px;
}
.imagensDasStreamings img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin: 15px;
}
.imagensDasStreamings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.content-text{
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: 24px;
}

.content-card-especificao{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:20px ;
}
.content-card-especificao div{
    border: solid 1px black;
    height: 200px;
    width: 350px;

}
#preso-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-card-precos{

    border: #080c03 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-top: 35px;
    width: 550px;
    height: 650px;
}
.content-card-precos ul li{
    margin: 6px;
    padding: 10px
}
.content-card-precos span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
}

footer{
    grid-area: footer;
    border: solid 2px black;
}