@charset "UTF-8";
:root{
    --text: #141906;
    --background: #f8fcf3;
    --primary: #a2d232;
    --secondary: #8ae5cd;
    --accent: #5cc2db;
}
:root[data-theme="dark"] {
    --text: #f4f9e6;
    --background: #080c03;
    --primary: #9dcd2d;
    --secondary: #1a755d;
    --accent: #248aa3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* overflow-x: hidden; */

}
h1, h2, h3{
    background: linear-gradient(to right, #E91E63 ,#FF9800);
    background-clip: text ;
    color: transparent;
}
p{
    color: #A1A1AA;
}
body{
    background: #09090B;
    display: grid;
    grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: header;
    font-size: 45px;
    
}
main{
    font-size: 22px;
    grid-area: main;
    padding: 150px;
}
section{
    /* height: 100vh; */
    margin-top: 200px;
}
.imagensDasStreamings img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin: 15px;
}
.imagensDasStreamings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.content-text{
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: 24px;
}

.content-card-especificao{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    column-gap:20px ;
}
.content-card-especificao div{
    
    box-shadow: 
        -10px 7px 30px rgba(233, 30, 99, 0.2), 
        10px -7px 30px rgba(255, 152, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 1px rgb(255, 255, 255, 0.1 );
    border-radius: 5px;
    height: 200px;
    width: 350px;
    padding-top: 10px;
}
.content-card-especificao div:hover{
    box-shadow: 
        -15px 10px 50px rgba(233, 30, 99, 0.4), 
        15px -10px 50px rgba(255, 152, 0, 0.4);
        transform: scale(1.05);
        
        
        


}
#preso-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-card-precos{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 1px rgb(255, 255, 255, 0.1 );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-top: 35px;
    width: 550px;
    height: 650px;
}
.content-card-precos ul li{

    color: #A1A1AA;;
    margin: 6px;
    padding: 10px
}
.butao-edit{
    cursor:pointer ;
    background: linear-gradient( to right,  #E91E63 ,#FF9800);
    display: flex;
    position: relative;
    left: 57px;
    justify-content: center;
    width: 300px;
    align-items: center;
    border-radius: 120px;
    height: 70px;
    margin-top: 76px;
    transition: transform 0.3s;
    transition: box-shadow 0.3s;
    transition: filter 0.3s;
    
}
.butao-edit:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
    box-shadow: 
        -15px 10px 50px rgba(233, 30, 99, 0.4), 
        15px -10px 50px rgba(255, 152, 0, 0.4);
}

footer{
    grid-area: footer;
    border: solid 2px black;
}